@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    min-height: 100dvh;
    color: var(--ui-text);
    background: var(--app-canvas);
    transition:
      color 0.2s,
      background-color 0.2s;
    font-family: var(--font-sans);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
